[submodule "packages/spdlog"]
	path = packages/spdlog
	url = https://github.com/gabime/spdlog
[submodule "packages/glfw"]
	path = packages/glfw
	url = https://github.com/glfw/glfw
[submodule "packages/fmt"]
	path = packages/fmt
	url = https://github.com/fmtlib/fmt
[submodule "packages/imgui-cmake"]
	path = packages/imgui-cmake
	url = https://github.com/LuxAter/imgui-cmake
